
.direccion {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-left: 10px;
  margin-top: 15px;
}

.section_direction {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.section_direction input {
  border: 1px solid rgb(217, 217, 217);
  height: 50px;
  border-radius: 5px;
}

.response{
  height: max-content;
  padding: 10px;
}

.response span {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;

}

.dpto_question {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  font-size: 14px;
}

.dpto_description {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.dpto_description input {
  height: 50px;
  border-radius: 5px;
  border: none;
  border: 1px solid rgb(208, 208, 208);
}

.section_inputs_radio {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  width: 90vw;
  border: 1px solid rgb(224, 224, 224);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.section_inputs_radio section {
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
}

.inp_radio {
  margin-right: 5px;
}

.barrio {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.dpto_active {
  background-color: rgb(210, 232, 255);
  box-shadow: 1px 1px 2px 1px rgb(221, 221, 221);
}
.dpto_inactive {
  background-color: rgb(210, 232, 255);
  box-shadow: 1px 1px 2px 1px rgb(221, 221, 221);
}

.section_direccion {
  padding: 5px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  margin-top: 15px;
}

.section_dpto {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 10px;
}


@media (min-width: 850px){
 .section_inputs_radio{
   width: 40vw;
 }
}
