.nav_conatiner_cart {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  bottom: 0px;
  width: 100vw;
  height: 70px;
  background-color: rgb(255, 255, 255);
}

.cart_vanegation_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  color: rgb(104, 104, 104);
  width: 35px;
  height: 35px;
}

.cart_vanegation_container.is-active {
  color: green;
}

.cart_navegation_nav {
  color: rgb(104, 104, 104);
  font-family: sans-serif;
  font-size: 14px;
}

.panel_container {
  position: fixed;
  height: auto;
  width: 100vw;
  bottom: 60px;
  background-color: rgb(245, 252, 255);
}

.section_iconcart_number {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.number_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: max-content;
  height: max-content;
  position: relative;
  bottom: 15px;
  padding: 5px;
  border-radius: 100%;
  font-size: 14px;
}

.number_cart.is-active {
  color: rgb(55, 55, 55);
  font-family: sans-serif;
  font-size: 14px;
  color: green;
}

.cart_active {
  color: green;
}

.icon_heart {
  color: rgb(104, 104, 104);
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.section_icon_heart {
  color: rgb(104, 104, 104);
  font-family: sans-serif;
  font-size: 14px;
}
