.container_buttons_add {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  margin-top: 7vh;
}

.container_buttons_add section:nth-child(2) button {
  width: 82.5vw;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 225, 206);
}

.container_buttons_add section:nth-child(1) button {
  width: 38vw;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(234, 246, 255);
}

.cart_plus {
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  color: grey;
}

.return {
  width: 30vw;
  margin: auto;
  border-radius: 15px;
  border: none;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 3vh;
  background-color: rgb(253, 236, 225);
  padding: 1vh;
  margin-bottom: 15vh;
  cursor: pointer;
}

.section_btns_add_minus {
  width: 82.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 246, 255);
  margin-bottom: 10px;

}

.btm_add_cart{
  cursor: pointer;
}
.btn_minus_cart{
  cursor: pointer;
}
.btn_add_cart_product{
  cursor: pointer;
}

@media (min-width: 850px) {
  .container_buttons_add {
    width: 40vw;
    
  }
  .section_btns_add_minus {
    width: 40vw;
  }

  .container_buttons_add section:nth-child(1) button {
    width: 19.5vw;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: rgb(234, 246, 255);
  }
  .container_buttons_add section:nth-child(3) button {
    width: 19vw;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: rgb(234, 246, 255);
  }

  .container_buttons_add section:nth-child(2) button {
    width: 40vw;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 225, 206);
  }
}
