* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container_data {
  height: 100vh;
  width: 95vw;
  margin: auto;
  margin-bottom: 10vh;
  margin-top: 3vh;
}

.form_container_principal {
  width: 70vw;
}

.container_name_surname {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 5px;
  width: 95vw;
}

.container_name_surname input {
  border-radius: 5px;
  height: 50px;
  border: none;
  border: 1px solid rgb(205, 205, 205);
  width: 100%;
}

.type_entrega {
  display: flex;
  padding: 5px;
}

.type_entrega p {
  border: 1px solid rgb(211, 211, 211);
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 5px;
  width: 30vw;
  margin: 5px;
  padding: 5px;
}

.pago {
  display: flex;
}

.pago p {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 14px;
  width: 30vw;
  padding: 5px;
  margin: 5px;
}

.ref {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.ref input {
  border-radius: 5px;
  height: 50px;
  border: none;
  border: 1px solid rgb(205, 205, 205);
}

.forma_de_pago {
  padding-left: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.forma_de_entrega {
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-left: 5px;
}

.section_link_wsp {
  width: 90vw;
  display: flex;
}
.link_whatapp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(211, 241, 255);
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 5vh;
  text-decoration: none;
}

.icon_wsp {
  margin-left: 5px;
  color: green;
}

.error_name {
  color: red;
  font-size: 12px;
}
.delivery {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: red;
}

.envio_true {
  background-color: rgb(206, 233, 255);
  box-shadow: 1px 1px 2px 1px rgb(191, 191, 191);
}

.forma_pago_true {
  background-color: rgb(206, 233, 255);
  box-shadow: 1px 1px 2px 1px rgb(191, 191, 191);
}

.finish {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(228, 247, 255);
}
.obligated {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 196, 0);
  margin-left: 10px;
}

.section_pago {
  margin-top: 15px;
}

.section_entrega {
  width: 100vw;
  margin: auto;
  padding: 10px;
}

.formulario {
  width: 90vw;
  margin: auto;
  margin-bottom: 100px;
}

.h1_form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border-radius: 10px;
  width: 80vw;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.form_spam {
  font-size: 10px;
  color: rgb(252, 157, 62);
  font-family: "Montserrat", sans-serif;
}

.box_input {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.box_input input {
  border: 1px solid rgb(234, 234, 234);
  border-radius: 5px;
  padding: 10px;
}

.form_entrega {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 15px;
}

.section_entrega {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.personalmente {
  font-family: "Montserrat", sans-serif;
  border: 1px solid rgb(221, 221, 221);
  font-size: 14px;
  width: 40vw;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.personalmente.is-active {
  background-color: rgb(210, 232, 255);
  box-shadow: 1px 1px 2px 1px rgb(221, 221, 221);
}


.form_btn {
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  display: flex;
  margin: auto;
  margin-top: 15px;
  background-color: rgb(205, 229, 255);
  border: none;
  border-radius: 3px;
}

.pago {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 15px;
}

.section_pago {
  display: flex;
}

.section_pago p {
  font-family: "Montserrat", sans-serif;
  border: 1px solid rgb(228, 228, 228);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 14px;
}
.form_envio_p {
  font-family: "Montserrat", sans-serif;
  border: 1px solid rgb(221, 221, 221);
  font-size: 14px;
  width: 40vw;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.form_envio_p.is-active{
  background-color: rgb(210, 232, 255);
  box-shadow: 1px 1px 2px 1px rgb(221, 221, 221);
}

.efectivo_active {
  background-color: rgb(210, 232, 255);
  box-shadow: 1px 1px 2px 1px rgb(221, 221, 221);
}
.trasnferencia_active{
  background-color: rgb(210, 232, 255);
  box-shadow: 1px 1px 2px 1px rgb(221, 221, 221);
}

.icon_wsp{
  color: rgb(9, 158, 9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 18px;
}

.section_name_surname{
  border: 1px solid rgb(230, 230, 230);
  padding: 15px;
  border-radius: 10px;
}
.section_envio{
  margin-top: 10px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
}

.section_forma_pago{
  margin-top: 10px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
  padding: 5px;
}

.section_h1_form{
  width: 100vw;
  background-color: aliceblue;
}


@media (min-width: 850px){
  .formulario{
    width: 60vw;
  }

  .section_entrega{
    width: 60vw;
  }
}
