.container_icon_check {
  position: fixed;
  background-color: white;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 1px 1px 2px 1px rgb(222, 222, 222);
  margin: auto;
}

.container_icon_check p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.icon_check_modal {
  width: 50px;
  height: 50px;
  color: rgb(38, 209, 38);
}

.buttom_return_modal {
  margin-top: 3vh;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(158, 254, 224);
  border-radius: 50px;
  padding: 1.5vh;
  border: none;
  color: rgb(61, 61, 61);
  font-weight: bold;
}
