.scontainer_Menu_lateral {
  width: 60vw;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  background-color: white;
  z-index: 1000;
}

.ul_menu_lateral {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.ul_menu_lateral li {
  margin: 8px;
  padding: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 5px;
}
.icon_menu_lateral {
  margin-right: 10px;
}

.ul_menu_lateral_desktop{
  display: none;
}


@media (min-width: 800px){

  .ul_menu_lateral_desktop{
    display: flex;
  }

  .ul_menu_lateral_desktop li{
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
  }
     
}
@media (min-width: 1350px){

  .ul_menu_lateral_desktop{
    display: flex;
    width: 40vw;
  }

  .ul_menu_lateral_desktop li{
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
  }
     
}