.section_whatsapp {
  width: 90vw;
  margin: 1vh auto;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2vh;
}

.section_whatsapp a {
  color: rgb(19, 145, 19);
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgb(1, 138, 37);
}

/* .icon_whatsapp {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  color: rgb(2, 169, 2);
} */

.total_total{
  display: flex;
  width: 30vw;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border-radius: 10px;
  background-color: rgb(255, 249, 232);
  padding: 10px;
}
.total_total b {
  margin-left: 5px;
}

.section_total_total_whatapp{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.confirm_whatapp{
  color: black;
  display: flex;
  width: 40vw;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border-radius: 10px;
  background-color: rgb(255, 229, 187);
  padding: 10px;
}
