.img_description_one {
  width: 90vw;
  height: 250px;
  margin: auto;
  display: flex;
  margin: auto;
  margin-top: 5vh;
  border-radius: 10px;
}

.section_description_one {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3vh;
}

.section_description_one p:nth-child(1) {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.price_description_product {
  font-family: "Montserrat", sans-serif;
  color: green;
  margin-top: 5px;
  font-size: 18px;
}

.description_one {
  font-size: 12px;
  font-family: Arial;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.description_one b {
  margin-left: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.icon_description {
  color: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  padding: 4px;
  border-radius: 100%;
  background-color: rgb(234, 234, 234);
  margin-right: 10px;
}

.description_product_one {
  margin-top: 15px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  display: flex;
}

.description_product {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
