.contaianer_product_cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(194, 194, 194);
  margin: 1vh;
  border-radius: 5px;
}

.img_product_cart {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin: 1vh;
}

.description_product_cart {
  font-family: sans-serif;
  font-size: 16px;
}

.count_product_cart {
  font-family: sans-serif;
}

.description_product_cart p:nth-child(3){
    font-weight: bold;
    margin-top: 5px;
}

.no_product{
  width: 50vw;
  margin: 2vh auto;
  font-family: sans-serif;
  display: flex;
}

.icon_cry{
  color: rgb(254, 254, 124);
  margin-left: 10px;
}
