.img_acumulation_product{
    width: 60px;
    height: 60px;
    margin: 1vh;
    border-radius: 10px;
}

.container_acumulation_procut{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh;
    width: 95vw;
    box-shadow: 1px 1px 2px 1px rgb(222, 222, 222);
    border-radius: 5px;
}

.section_acumularion_product{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.total_acumulation{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.count_acumulation{
    color: rgb(73, 73, 73);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.icon_delete_cart{
    margin: 1vh;
    width: 30px;
    height: 30px;
    color: rgb(97, 97, 97);
}

.section_acumulation_cart{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.acumulation_add_minus_cart{
    width: 60px;
    display: flex;
    
}
.acumulation_add_minus_cart{
    margin-top: 1vh;
}

.acumulation_add_minus_cart button{
    width: 25px;
    height: 25px;
    margin-top: 1vh;
    margin: auto;
    border: none;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    margin: 3px;
}