.container_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
  margin-top: 3vh;
}

.section_search {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  box-shadow: 1px 1px 2px 1px rgb(243, 243, 243);
}

.section_search input {
  height: 30px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.categories{
  width: 90vw;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: auto;
  margin-top: 15px;
}

.categories li{
  border: 1px solid rgb(212, 212, 212);
  border-radius: 30px;
  padding: 4px;
  margin-right: 10px;
}